<div class = "container-fluid fixed-bottom bg-light text-muted">
    <div class="row justify-content-center align-items-end p-5">
        
        <div class="col">
            <h4>cars&bids</h4>
        </div>
        
        
        <div class="col">
            <p>HOW IT WORKS</p>
          
            <a class="nav-link" href = "#">Buying a Car</a>
            <a class="nav-link" href = "#">Selling a Car</a>
            <a class="nav-link" href = "#">Finalizing the Sale</a>
            <a class="nav-link" href = "#">FAQ's</a>
                

            
        </div>

        <div class="col">
            <p>SELLERS</p>
          
            <a routerLink = "Submit" class="nav-link" href = "#">Submit Your Car</a>
            <a routerLink = "Photos" class="nav-link" href = "#">Photography Guide</a>
            
            
        </div>

       <div class="col">
            <p>HELPFUL LINKS</p>
          
            <a routerLink = "Support" class="nav-link" href = "#">Support</a>
            <a routerLink = "Merch" class="nav-link" href = "#">Shop C&B Merch</a>
            
        </div>


        <div class="col">
            <div>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="fab fa-github"></i>
                </a>
              </div>
        </div>
    </div>
</div>



