<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h5>Anthony E.</h5>
        <div class = "card-body d-flex justify-content-start" id = "card1">
            <p>I cannot recommend cars and bids more highly. This has been the best expierience I've ever had buying a car.</p>
        </div>
      </div>
      <div class="carousel-item">
        <h5>Alex B.</h5>
        <div class = "card-body d-flex justify-content-start" id = "card1">
            <p>I cannot recommend cars and bids more highly. This has been the best expierience I've ever had buying a car.</p>
        </div>
      </div>
      <div class="carousel-item">
        <h5>James P.</h5>
        <div class = "card-body d-flex justify-content-start" id = "card1">
            <p>I cannot recommend cars and bids more highly. This has been the best expierience I've ever had buying a car.</p>
        </div>
      </div>
    </div>
</div>