<p *ngIf="myInfo == undefined">Failed fetching user info</p>
<div *ngIf = "myInfo != undefined">
    <div class="container-fluid fixed-top" id = "user-info">
        <div class="d-flex flex-row justify-content-between">
            <div class="flex-column">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="flex-column">
               <a href = "mailto: {{myInfo.Mix}}@mix.wvu.edu">Mix ID: {{myInfo.Mix}}</a>
            </div>
            <div class="flex-column">
                <a href = {{myInfo.GitHub}}>GitHub: {{myInfo.GitHub}}</a>
            </div>
        </div>
    </div>
</div>
