#top-bar{
    position: absolute;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
}
#top-bar .navbar-brand{
    font-size: 215%;
    margin-left: 4%;
}
#top-bar .d-flex{
    width: 43%;
    height: 30%;
    margin-right: 5%;
}
#top-bar .btn{
    margin-left: 5%;
    height: 170%;
    width: 30%;
    background-color: #4ad493;

}
#top-bar .nav-item{
    margin-left: 10px;
    font-size: 90%;
}


