
<nav class="navbar fixed-top navbar-expand-lg bg-white" id = "top-bar">
    <div class="container-fluid">
      <a routerLink = "Home" class="navbar-brand h1" href="#">cars&bids</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Auctions
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Live Auctions</a></li>
                  <li><a class="dropdown-item" href="#">Past Results</a></li>
                </ul>
              </li>

          <li class="nav-item">
            <a routerLink = "Sell-Car" class="nav-link" href="#">Sell a Car</a>
          </li>
          
          <li class="nav-item">
            <a routerLink = "Info" class="nav-link" href = "#">What's Cars & Bids?</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href = "#">Daily Email</a>
          </li>

        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="Search" placeholder="Search for Cars (ex. BMW, Audi, Ford)" aria-label="Search">
          <button class="btn btn-outline-success bg-green" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </nav>

 

