#top-bar{
    position: absolute;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
#top-bar .navbar-brand{
    font-size: 215%;
    margin-left: 4%;
}
#top-bar .d-flex{
    width: 43%;
    height: 30%;
    margin-right: 5%;
}
#top-bar .btn{
    margin-left: 5%;
    height: 170%;
    width: 30%;
    background-color: #4ad493;

}
#top-bar .nav-item{
    margin-left: 10px;
    font-size: 90%;
}
#second-bar{
    height: 50px;
    width: 100%;
    top: 140px;
    position: fixed;
    z-index: 1;

}
#second-bar .navbar-brand{
    font-size: 155%;
    margin-left: 4%
}
#second-bar .nav-item{
    font-size: 80%;
    margin-left: 25px;


}
#mid-bar {
    z-index: 1;
    top: 95px;
}
#mid-bar .navbar-brand{
    font-size: 145%;
    margin-left: 4%;
}

