<div class="card" style="width: 21%;" id = "three">
    <img class="card-img-top" src="assets/car3.png" alt="...">
    <div class="card-body">
      <h5 class="card-title">2014 Mercedes-Benz E63 S AMG Wagon</h5>
      <p class="card-text">577-hp Twin-Turbo V8, AWD, Highly Optioned</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="container mt-5" id = "top-text">
    <div class="row">
        <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1>Sell on Cars and Bids!</h1>
        <h1>More money, fewer headaches</h1>
      </div>
      <div class = "col-sm-10">
        <h2>Our customers love us!</h2>
        <p>
            The only way to sell your car. I have sold many cars in my life and this was by far the best.
        </p>
  
      </div>
    </div>
  </div>