
      <div class="col" id = "column">
        <div class="container">
          <img src="https://i.ytimg.com/vi/0ICw2NNiTlE/hqdefault.jpg" alt="...">
          <button class = "yt-btn" aria-label = "Play">Button</button>
          <p>
            Cars & Bids is the best marketplace for modern enthusiast cars.
          </p>
          <button class = "btn btn-block btn-large btn-primary" href = "#">More about us</button>
          <h5>New Listings</h5>
        </div> 
        
      </div>
      
          
      
       

      
